/*
    Styles
*/

body {
        font-family: 'Courier New';
        font-size: 20px;
        background-color: mediumseagreen;
        color: white;
}
h1 {
        font-size: 40px;
}
select {
                font-family: 'Charmonman', cursive;
                background-color: orange;
}
table, th, td {
        vertical-align: top;
}
img {
         vertical-align: top;
}

